@model QuanLyLaptopHooli.Models.sanpham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    img {
        width: 200px;
        margin-bottom: 20px;
    }
</style>
<h2 >CHI TIẾT SẢN PHẨM</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên laptop:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.Raw(@Model.MoTa.ToString().Replace("\n", "</p><p>&nbsp&nbsp&nbsp&nbsp"))
        </dd>

        <dt>

            Ảnh bìa:
        </dt>

        <dd>
            <img src="@Model.HinhAnh" alt="@Model.Ten" />
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @Html.FormatValue(Model.Gia, "{0:#,##0}")VNĐ
        </dd>

        <dt>
            Thương hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thuonghieu.ten)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("VỀ TRANG QUẢN LÝ SẢN PHẨM", "Index")
</p>
