@using QuanLyLaptopHooli.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<QuanLyLaptopHooli.Models.sanpham>

@helper Truncate(String s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length) <text> ... </text>

    }
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >QUẢN LÝ SẢN PHẨM</h2>

<p >
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th style="text-align:center; width:150px">
                Tên sản phẩm
            </th>
            <th style="text-align:center; width:200px">
                Giá bán
            </th>
            <th style="text-align:center; width: 100px">
                Hình ảnh
            </th>
            <th style="text-align:center; width:200px">
                Mô tả
            </th>
            <th style="text-align:center; width:100px">
                Mã thương hiệu
            </th>
            <th style="text-align:center; width:100px">
                Số lượng tồn
            </th>

            <th style="text-align:center"></th>
        </tr>
    </thead>

    <tbody align="center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.FormatValue(item.Gia, "{0:#,##0}")VNĐ
                </td>
                <td>
                    <img src="@item.HinhAnh" style="width:80px" />
                </td>
                <td style="text-align: justify;">
                    @Html.Raw(Truncate(item.MoTa, 70).ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idThuongHieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    <a href="@Url.Action("Edit",new { id = item.id})" class=" btn btn-warning" role="button">Sửa</a>
                    <a href="@Url.Action("Details", new{ id = item.id})" class=" btn btn-primary" role="button">Chi tiết</a>
                    <a href="@Url.Action("Delete", new{ id = item.id})" class=" btn btn-danger" role="button">Xóa</a>
                </td>
            </tr>
        }
    </tbody>

</table>

Trang @(Model.PageCount < Model.PageNumber ? 0 :
Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>



